body { background: #9babff; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 26px; display: flex; }
.block-user-0 { color: #99b40f; font-size: 15px; margin-bottom: 5px; }
.block-shipping-1 { color: #44e260; font-size: 19px; margin-bottom: 5px; }
.block-sms-2 { color: #5be2eb; font-size: 18px; margin-bottom: 5px; }
.block-cart-3 { color: #659107; font-size: 16px; margin-bottom: 5px; }
.block-email-4 { color: #8e9b85; font-size: 12px; margin-bottom: 5px; }
.block-notify-5 { color: #1d3e75; font-size: 20px; margin-bottom: 5px; }
.block-token-6 { color: #6c1817; font-size: 15px; margin-bottom: 5px; }